/* general */

*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper{
    max-width: 968px;
	margin: 0 auto;
}

.wrapper2{
    max-width: 2000px;
	margin: 0 auto;
}

.indexLearnMore a{
    text-decoration: none;
    margin: 0px 14px 0px 14px;
    font-size: 20px;
    color: #2997FF;
    font-weight: 400;
}

#indexLearnMore:hover{
    border-bottom: 2px solid #2997FF;
}

.whiteLine{
    padding: 4px;
}

/* header */

.header{
    background: rgba(0, 0, 0, 0.815);
    position: fixed;
    top: 0;
    width: 100%;
}

.header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a{
    color: #CCCCCC;
    text-decoration: none;
    padding: 14px 0px 14px 0px;
    font-size: 13px;
    font-weight: 300;
    transition: color 0.75s;
}

.header a:hover{
    color: #FFFFFF;
}

.fa-apple{
    font-size: 17px;
}

.headerSmall img{
    height: 30px;
    width: 23px;
}

@media only screen and (max-width: 1000px) {
    .headerBig {
        display: none;
    }
    .headerSmall{
        display: flex;
    }
    .header a{
        margin: -6px 13px -6px 13px;
    }
}

@media only screen and (min-width: 1001px) {
    .headerBig {
        display: flex;
    }
    .headerSmall{
        display: none;
    }
  }

/* index ipad*/

.indexIPad{
    padding: 75px 0px 35px 0px;
}

.indexIPad .wrapper{
    display: flex;
    align-items: center;
}

.indexIPad img{
    max-width: 520px;
    padding-left: 130px;
    margin-left: -40px;
}

.indexIPadText{
    text-align: center;
    margin-left: -120px;
    margin-top: -10px;
}

.indexIPadText h2{
    font-size: 60px;
    font-weight: 600;
}

.indexIPadText p{
    font-size: 27px;
    width: max-content;
    margin-bottom: 10px;
}
    
@media only screen and (max-width: 1000px) {
    .indexIPad .wrapper{
        flex-direction: column-reverse;
    }
    .indexIPad img{
        margin: 0 auto;
        max-width: 260px;
        padding-right: 90px;
    }
    .indexIPadText{
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .indexIPadText h2{
        font-size: 32px;
    }
    .indexIPadText p{
        font-size: 18px;
    }
    .indexIPadText2 a{
        font-size: 18px;
    }
}

/* index ipadpro */

.indexIPadPro{
    background: black;
}

.indexIPadPro .wrapper{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.indexIPadPro img{
    max-width: 1000px;
    margin-right: -200px;
}

.indexIPadProText2 img{
    max-width: 45px;
    margin-left: 5px;
}

.indexIPadProText2{
    display: flex;
}

.indexIPadProText{
    text-align: center;
    margin-right: -100px;
    margin-top: -10px;
    color: white;
}

.indexIPadProText h2{
    font-size: 60px;
    font-weight: 600;
}

.indexIPadProText p{
    font-size: 27px;
    width: max-content;
    margin-bottom: 10px;
}

@media only screen and (max-width: 1400px) {
    .indexIPadPro .wrapper{
        flex-direction: column-reverse;
    }
    .indexIPadPro img{
        max-width: 350px;
        margin: 0 auto;
        padding-top: 10px;
    }
    .indexIPadProText2 img{
        max-width: 45px;
        padding-top: 0px;
    }
    .indexIPadProText{
        margin-top: 30px;
        margin-left: -100px;
        color: white;
    }
    .indexIPadProText h2{
        font-size: 50px;
    }
}

/* index iphone 14 pro */

.indexIPhone14Pro{
    background: black;
    padding-top: 30px;
}

.indexIPhone14Pro .wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.indexIPhone14ProText{
    color: white;
    text-align: center;
}

.indexIPhone14ProText h2{
    font-size: 52px;
    font-weight: 500;
}

.indexIPhone14ProText p{
    font-size: 25px;
    margin-bottom: 10px;
}

.indexIPhone14ProText2{
    text-align: center;
}

.indexIPhone14Pro img{
    height: 500px;
    padding-top: 10px;
}

@media only screen and (max-width: 1000px) {
    .indexIPhone14Pro img{
        height: 350px;
    }
    #indexIphone14ProImgBig{
        display: none;
    }
    #indexIphone14ProImgSmall{
        display: flex;
    }
}

@media only screen and (min-width: 1001px) {
    #indexIphone14ProImgBig{
        display: flex;
    }
    #indexIphone14ProImgSmall{
        display: none;
    }
}

/* index grid */

.indexGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

@media only screen and (max-width: 1000px) {
    .indexGrid{
        grid-template-columns: 1fr;
    }
}

/* index iphone 14 */

.indexGridIPhone14{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FBFBFD;
    padding-top: 50px;
}

.indexGridIPhone14 img{
    height: 400px;
    padding-top: 10px;
}

.indexGridIPhone14 h2{
    font-size: 40px;
    font-weight: 500;
}

.indexGridIPhone14 p{
    font-size: 20px;
    padding-bottom: 10px;
}

/* index apple tv */

.indexGridAppleTv{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F5F5F7;
    padding-top: 50px;
}

.indexGridAppleTv p{
    font-size: 20px;
}

.indexGridAppleTvP p{
    padding: 10px 0px 10px 0px;
    color: grey;
    font-size: 17px;
}

#indexGridAppleTvImg{
    height: 350px;
}




  
