*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper{
    max-width: 968px;
	margin: 0 auto;
}

/* header */

.header{
    background: #313132;
}

.header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a{
    color: #CCCCCC;
    text-decoration: none;
    padding: 14px 0px 14px 0px;
    font-size: 13px;
    font-weight: 300;
    transition: color 0.75s;
    margin: 0px 13px 0px 13px;
}

.header a:hover{
    color: #FFFFFF;
}

.fa-apple{
    font-size: 17px;
}

.headerSmall img{
    height: 30px;
    width: 23px;
}

@media only screen and (max-width: 1000px) {
    .headerBig {
        display: none;
    }
    .headerSmall{
        display: flex;
    }
    .header a{
        margin: -6px 13px -6px 13px;
    }
}

@media only screen and (min-width: 1001px) {
    .headerBig {
        display: flex;
    }
    .headerSmall{
        display: none;
    }
  }

/* index */

.indexIpad{
    padding: 35px 0px 35px 0px;
}

.indexIpad .wrapper{
    display: flex;
    align-items: center;
}

.indexIpad img{
    max-width: 520px;
    padding-left: 120px;
    margin-left: -40px;
}

.indexIpadText{
    text-align: center;
    margin-left: -120px;
    margin-top: -10px;
}

.indexIpadText h2{
    font-size: 60px;
    font-weight: 600;
}

.indexIpadText p{
    font-size: 27px;
    width: max-content;
    margin-bottom: 10px;
}

.indexIpadText2 a{
    text-decoration: none;
    margin: 0px 14px 0px 14px;
    font-size: 20px;
    color: #0066CC;
    font-weight: 400;
}

#IndexIpadText2A:hover{
    border-bottom: 2px solid #0066CC;
}
    
@media only screen and (max-width: 1000px) {
    .indexIpad .wrapper{
        flex-direction: column-reverse;
    }
    .indexIpad img{
        margin: 0 auto;
        max-width: 260px;
        padding-right: 90px;
    }
    .indexIpadText{
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .indexIpadText h2{
        font-size: 32px;
    }
    .indexIpadText p{
        font-size: 18px;
    }
    .indexIpadText2 a{
        font-size: 18px;
    }
}





  
